<html>
<body>
      
     <p>Temperature from first source:
      <%= @tempInCelcius %><sup>o</sup>C
	<br>
      Temperature from second source:
		<%= @temp2 %><sup>o</sup>C
     <br>
      
     Average temperature : <%= @average_temp%><sup>o</sup>C
</p>
</body>       
</html>      